<ion-view view-title="发布活动信息">
    <ion-nav-buttons side="right">
        <a class="button button-stable" id="publishdata" ng-click="publishdata(publish)"> 发布 </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-stable" ng-click="clearPublish()"> 清空 </a>
    </ion-nav-buttons>
    <ion-content class="padding" scroll="true">
        <div class="list card">
            <div class="item item-divider bar bar-energized">活动标题</div>
            <label class="item item-input">
                <input type="text" ng-model="publish.title" placeholder="活动标题">
            </label>
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">类别</div>
            <ion-list>
                <ion-radio ng-model="publish.category" value="无">无</ion-radio>
                <ion-radio ng-model="publish.category" value="运动">运动</ion-radio>
                <ion-radio ng-model="publish.category" value="生活">生活</ion-radio>
                <ion-radio ng-model="publish.category" value="文化">文化</ion-radio>
                <ion-radio ng-model="publish.category" value="教育">教育</ion-radio>
                <ion-radio ng-model="publish.category" value="挑战">挑战</ion-radio>
            </ion-list>
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">活动内容及介绍</div>
            <textarea ng-model="publish.content" placeholder="活动内容及介绍" rows=20>
            </textarea>
            <img id="Pic1" width="0" src="" />
            <img id="Pic2" width="0" src="" />
            <img id="Pic3" width="0" src="" />
            <img id="Pic4" width="0" src="" />
            <img id="Pic5" width="0" src="" />
            <img id="Pic6" width="0" src="" />
            <div class="item" ng-if="audio">声音：{{audio}}</div>
            <div class="item">位置:{{publish.location}}</div>
            <div class="item">
                <!-- <img width="20%" src="img/mic.png" ng-click="recordAudio()" /> -->
                <img width="20%" src="img/photoes.jpg" ng-click="showphotoes()" />
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">性别要求</div>
            <!-- <div class="item item-body"> -->
            <label class="item item-input item-select">
                <div class="input-label">
                    性别
                </div>
                <select ng-model="publish.sex">
                    <option value="0">无要求</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </label>
            <!-- </div> -->
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">地域要求</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    地域
                </div>
                <select ng-model="publish.publish_territory">
                    <option value="0">同城</option>
                    <option value="1">不限</option>
                </select>
            </label>
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">人数上限</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    人数上限
                </div>
                <select ng-model="publish.personlimits">
                    <option value="10000">不限</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
            </label>
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">开始日期</div>
            <label class="item item-input">
                <input type="datetime-local" ng-model="publish.startdate">
            </label>
        </div>
        <div class="list card">
            <div class="item item-divider bar bar-energized">截至日期</div>
            <!-- <div class="item item-body"> -->
            <label class="item item-input">
                <input type="datetime-local" ng-model="publish.enddate">
            </label>
            <!-- </div> -->
        </div>
    </ion-content>
</ion-view>
