<ion-view view-title="活动">
    <ion-nav-buttons side="right">
        <div style="font-size:18px;margin-top:6px">
            <div ng-if="territory">全国</div>
            <div ng-if="!territory">同城</div>
        </div>
        <label class="toggle" style="margin-left:2px">
            <input type="checkbox" ng-model="territory">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </ion-nav-buttons>
    <ion-header-bar align-title="left" class="bar-subheader bar-energized">
        <div class="button-bar">
            <a class="button button-clear">全部</a>
            <a class="button button-clear">运动</a>
            <a class="button button-clear">文化</a>
            <a class="button button-clear">教育</a>
            <a class="button button-clear">挑战</a>
        </div>
    </ion-header-bar>
    <ion-content has-header="true" scroll="true">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="activity in activitys" style="padding:5% 0;border:0">
                <div class="card" style="margin:0;border-top:1px solid #EFEFEF">
                    <div class="item item-divider">
                        {{activity.title}}
                    </div>
                    <div class="item item-text-wrap">
                        {{activity.content}}
                    </div>
                    <div class="item item-text-wrap">
                        <span ng-repeat="image in activity.images">
                        <img src="http:192.168.2.121:50000/{{image}}" style="width:30%;border:2px solid #fff">
                        </span>
                    </div>
                    <div class="item item-divider">
                        <button class="button button-energized" style="float:right;">
                            我要报名
                        </button>
                        已参与人数:{{activity.participants}}
                        <br> 城市:{{activity.location}}
                        <br> 性别：<span ng-if="activity.sex==0">不限</span><span ng-if="activity.sex==1">男</span><span ng-if="activity.sex==2">女</span>
                        <br> 地域要求：</span><span ng-if="activity.publish_territory==0">同城</span><span ng-if="publish_territory">全国</span>
                        <br> 结束时间：{{activity.enddate}}
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
